<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Optime{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{asset('icons/favicon.ico')}}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}" >
        {% endblock %}
        
    </head>
    <body>
        {% block body %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand text-success font-weight-bold" href="#"><img src="{{asset('icons/favicon.ico')}}" alt="logo" width="30px" />ptime</a>
            
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('dashboardCategorias')}}">Categorias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('dashboardProductos')}}">Productos</a>
                        </li>
                    </ul>
                </div>
            </nav>
        {% endblock %}

        {% block javascripts %}
            <script src="{{asset('js/jquery.min.js')}}"></script>
            <script src="{{asset('js/popper.min.js')}}"></script>
            <script src="{{asset('js/bootstrap.min.js')}}"></script>
        {% endblock %}
    </body>
</html>
