{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Dashboard{% endblock %}

{% block body %}
{{parent()}}
<div class="container mt-3">

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    
    <div class="row p-3">
        <a class="" href="{{path('registerCategory')}}">
            <button class="btn btn-outline-primary">Agregar nuevo registro</button>
        </a>
    </div>
    
    <h2>
        <div class="count">Categorias ({{ pagination.getTotalItemCount }})</div>
    </h2>

    <table class="table table-hover table-striped table-sm border">
        <tr>
            <th>Accion</th>
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
            <th{% if pagination.isSorted('a.Name') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Name', 'a.name') }}
            </th>
            <th{% if pagination.isSorted('a.active') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Active', 'a.active') }}
            </th>
        </tr>

        {# table body #}
        {% for article in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>
                    <div class="dropdown show">
                        <a class="btn btn-primary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accion</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Editar</a>
                            <a class="dropdown-item" onclick="deleteItem( {{ article.id }}, 'Category' )">Eliminar</a>
                        </div>
                    </div>
                </td>
                <td>{{ article.id }}</td>
                <td>{{ article.name }}</td>
                <td>{{ article.active }}</td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>

{% endblock %}

{% block footer %}
 {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/ajax-call.js') }}"></script>
{% endblock %}