{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Registro{% endblock %}

{% block body %}
{{parent()}}

<div class="container">
    <div class="row p-3">
        <a class="" href="{{path('dashboardProductos')}}">
            <button class="btn btn-outline-primary">Regresar</button>
        </a>
    </div>

    <h1>{{titlePage}}</h1>
    {{form(formulario)}}

</div>

{% endblock %}
